/* Home.css */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #77dd77; /* Pastel green */
}

.home-title {
  font-weight: bold;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
}

/* Card.css */
.card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  background-color: white; /* Set the background color to white */
}

.card img {
  max-width: 100%;
  height: auto;
  max-height: 300px; /* Set maximum height for the image */
  object-fit: cover; /* Ensure the image covers the entire container */
}

.card-content {
  padding: 8px;
}

.card h3, .card p {
  font-weight: bold; /* Make the card title and description bold */
}
