.whois-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #FFFACD; /* Pastel yellow */
  min-height: 100vh;
}

.whois-container h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  background-color: white; /* Set the background color to white */
  width: 100%;
  max-width: 800px; /* Max width of the card */
  text-align: center; /* Center the text */
}

.card img {
  width: 100%;
  height: auto;
  max-height: 500px; /* Adjust max height as needed */
  object-fit: cover; /* Ensure the image covers the entire container */
  margin-bottom: 16px; /* Space between image and content */
}

.card-content {
  padding: 8px;
  text-align: left; /* Align text to the left */
}

.card-content p {
  margin: 0 0 10px; /* Margin around paragraphs */
}
